@for $i from 1 through 10 {
  .box-#{$i} {
    width: $i*10%;
    display: inline-block;
  }
  .padding-left-#{$i} {
    padding-left: $i*10px;
  }
  .padding-right-#{$i} {
    padding-right: $i*10px;
  }
  .padding-top-#{$i} {
    padding-top: $i*10px;
  }
  .padding-bottom-#{$i} {
    padding-bottom: $i*10px;
  }
}