.api-group {
    width: 100%;
    padding: 10px;
}
.api-group-title{
    line-height: 30px;
    margin: 0px;
}
.api-group-summary{
    color:#aaaaaa;
    overflow: hidden;
}
.api-group-count{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    border-radius: 50px;
    background-color: #6f2a28;
    color: #ffffff;
}
.api-group-count-all{
    font-size: 10px;
}
.api-group-count-box{
    display: inline-block;
    width: 20%;
}
.api-group-title-box{
    display: inline-block;
    vertical-align: middle;
    width: 70%;
}
.api-group-op-box {
    width: 10%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
/*}*/
/*.api-group-op-box {*/
    /*transition:transform 1s;*/
/*}*/
/*.api-group-op-box:active{*/
    /*animation: myfirst 1s;*/
    /*-webkit-animation: myfirst 1s; !* Safari 与 Chrome *!*/
/*}*/


/*@keyframes myfirst*/
/*{*/
    /*from {transform:rotate(0deg)}*/
    /*to {transform:rotate(180deg)}*/
/*}*/

/*@-webkit-keyframes myfirst !* Safari 与 Chrome *!*/
/*{*/
    /*from {transform:rotate(0deg)}*/
    /*to {transform:rotate(180deg)}*/
/*}*/