.project-item-box{
    width: 20%;
    height: 150px;
    margin: 1%;
    min-width: 200px;
    float: left;
}
.project{
    margin: 20px;
}
.project-group-title{
    clear: both;
    font-size: 20px;
    color: #aaaaaa;;
    margin-top: 40px;
}
.project-group{
    overflow: hidden;
    clear: both;
}