.project-item-box{
    width: 20%;
    height: 150px;
    margin: 1%;
    min-width: 200px;
    float: left;
}
.project{
    margin: 20px;
}
.project-group-title{
    clear: both;
    font-size: 20px;
    color: #aaaaaa;;
    margin-top: 40px;
    line-height:50px;
}
.project-group{
    overflow: hidden;
    clear: both;
}
.project-new{
    color: #555555;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    line-height: 50px;
    transition: color 0.5s;
}
.project-new:hover{
    color:#000000
}
.project-new:active{
    color: #aaaaaa;

}