.api-item {
    width: 100%;
    background-color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    transition: box-shadow 0.3s;
    -webkit-transition: box-shadow 0.3s;
}
.api-item:hover{
    box-shadow: #cccccc 2px 2px 5px;
}

.api-item-info{
    display: inline-block;
}
.api-item-title{

}
.api-item-summary{
    color: #aaaaaa;
    overflow: hidden;
}
.api-item div{
    display: inline-block;
    vertical-align: middle;
}
.api-item-info{
    width: 80%;
}
.api-item-state{
    width: 20%;
    text-align: center;
    font-size: 12px;
    color: #ffffff;

}
.api-item-state-publish{
    background-color: #4cae4c;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}